@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Rancho&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* *{
  border: 1px solid black;
} */

.logo,h1, h2, h3, h4 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    letter-spacing: 1px;
}
p{
    font-family: 'Times New Roman', Times, serif;    letter-spacing: 1px;
}

.bg-update-profile{
  background-image: linear-gradient(to right top, #e21b70, #eb0683, #f30099, #f700b0, #f700ca, #cf53e9, #a073fb, #6d88ff, #24a0f5, #41afdb, #7bb6c2, #adb9b8);
}

.minh{
  min-height: 300px
}


.min-h-calc {
    min-height: calc(100vh - 180px);
  }

  .border-user{
    box-sizing: content-box;
    border-bottom: 2px solid black ;

  }

  .card-lavel {
    clip-path: polygon(9% 0, 90% 3%, 100% 92%, 0 100%)
  }

/* styles.css */
.custom-bg {
    background-image: 
      radial-gradient(circle at 47% 14%, rgba(205, 205, 205, 0.04) 0%, rgba(205, 205, 205, 0.04) 43%, transparent 43%, transparent 100%),
      radial-gradient(circle at 35% 12%, rgba(215, 215, 215, 0.04) 0%, rgba(215, 215, 215, 0.04) 4%, transparent 4%, transparent 100%),
      radial-gradient(circle at 1% 35%, rgba(24, 24, 24, 0.04) 0%, rgba(24, 24, 24, 0.04) 37%, transparent 37%, transparent 100%),
      radial-gradient(circle at 21% 1%, rgba(0, 0, 0, 0.04) 0%, rgba(0, 0, 0, 0.04) 26%, transparent 26%, transparent 100%),
      radial-gradient(circle at 23% 82%, rgba(249, 249, 249, 0.04) 0%, rgba(249, 249, 249, 0.04) 60%, transparent 60%, transparent 100%),
      radial-gradient(circle at 11% 54%, rgba(251, 251, 251, 0.04) 0%, rgba(251, 251, 251, 0.04) 23%, transparent 23%, transparent 100%),
      radial-gradient(circle at 69% 68%, rgba(234, 234, 234, 0.04) 0%, rgba(234, 234, 234, 0.04) 10%, transparent 10%, transparent 100%),
      linear-gradient(90deg, rgb(228, 46, 222), rgb(63, 61, 215));
  }

  /* body {
    background: linear-gradient(-45deg,rgb(228, 46, 222), rgb(82, 79, 236)  );
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100%;
  }
  
  @keyframes gradient {
    0% {
      background-position: 0% 30%;
    }
    30% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  } */